<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Students performance</title>
  </head>
  <body>
    <main class="container">
      <article>
        <table>
          <thead>
            <tr>
              <th scope="col">Name</th>
              {% for i in '123'|make_list %}
                <th scope="col">Week {{i}} completed</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
          {% for performance in performances %}
            <tr>
              <th scope="row">{{ performance.student_name }}</th>
              {% for i in '123'|make_list %}
                <td>{% if performance|get_week_by_index:i %}✅{% else %}❌{% endif %}</td>
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </article>
    </main>
  </body>
</html>
