<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Tasks</title>
    <style>
      article.card {
        margin-bottom: 20px;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <main class="container">
      <div class="grid">
        {% regroup tasks|dictsortreversed:"status" by status as task_list %}
        {% for status in task_list %}
        <div>
          <h4>{% if status.grouper == 'todo' %}К выполнению{% elif status.grouper == 'in_progress' %}В процессе{% else %}Выполнено{% endif %} </h4>
          {% for task in status.list %}
            <article class="card">{{ task.title }}</article>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
